<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predicción de Dureza del Hormigón</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    {% include '_navbar.html' %}
    <h1>Predicción de Dureza del Hormigón</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% if usuario %}
        <p>Hola, {{ usuario }}!</p>
    {% else %}
        <p>Hola desconocido</p>
    {% endif %}

    {% if view == 'predict' %}
        {% include '_form_predict.html' %}
    {% elif view == 'login' %}
        {% include '_form_login.html' %}
    {% elif view == 'register' %}
        {% include '_form_register.html' %}
    {% endif %}

    <script>
        if (document.getElementById('cement')) {
            document.getElementById('cement').addEventListener('input', function() {
                document.getElementById('cementValue').textContent = this.value;
            });
        }
    </script>
    {% if show_result %}
        <div class="result">
            <h2>Resultado:</h2>
            <p>{{ prediction_text }}</p>
        </div>
    {% endif %}
</body>
</html>